<div class="container">
  <div class="row">
    <div class="col-md-8">
    <h2>Welcome to the 'Know thyself' web-application</h2>
      <div class="row">
        <p></p><br/><br/>
      </div>
      <div class="row">
        <% if !user_signed_in? %>
          <div class="col-md-6 text-center">
            <%= button_to "Create an account", new_user_registration_path, class: "btn btn-success", method: :get%><br/>
            Create multiple surveys and login to administer them.
          </div>
          <div class="col-md-6 text-center">
        <% else %>
          <div class="col-md-12 text-center">
        <% end %>
          <%= button_to "Create a survey", new_survey_path, class: "btn btn-success", method: :get %><br/>
          <% if !user_signed_in? %>Create surveys without an account and administer them with a link.<% end %>
        </div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="col-md-12">
          If you want to know more about this application, why it was created and share your feedback, check the <%= link_to "about", about_path %> page.
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <h3>News</h3>
      <strong>26/12/2014</strong>: Beta release is ready!<br/>
      <strong>07/09/2014</strong>: Feedback from alpha testers implemented!<br/>
      <strong>20/06/2014</strong>: Know Thyself application is launched!
      <h3>Newsletter</h3>
      <p>If you want to receive news and updates about the application, then subscribe to the newsletter.
      I expect to send 3-4 e-mails on a yearly basis, and of course, you can always unsubscribe if you don't want to receive updates anymore.</p>
      <%= form_for @address, url: addresses_path do |f| %>
        <div class="form-group"><%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, class: "form-control"%>
        </div>
        <%= f.submit "Add me", class: "btn btn-success", name: 'add_button' %>
        <%= f.submit "Remove me", class: "btn btn-danger", name: 'remove_button' %>
      <%end%>
    </div>
  </div>
</div>