<h2>Share new opinion</h2>

<%= form_for :answer, url: answers_path, html: {class: "form-group"} do |f| %>
<p>Select from pre-defined adjectives that you believe the describe me...</p>
	<% @answers.each do |word| %>
		<%= check_box_tag "answer[Adjectives][]", word%>
    <%= f.label word%>
	<%end%>

  <p>
    <%= f.label :Adjectives %><br>
    <%= text_field_tag "answer[Adjectives][]", nil, placeholder: "...or write down your own, separated by commas", size: 55%>
  </p>
 
  <p>
    <%= f.label :"Please specify how well you know me" %>
    <%= f.select :LOA, options_for_select(%w[Low Medium High]) %>
  </p>
 
  <p>
    <%= f.submit "Submit opinion"%>
  </p>
<% end %>
