<h2>Share new opinion</h2>

<table><tr>
<% i=0%>
<% @answers.each do |word| %>
	<%if i==7 %>
		<% i=0 %>
		<td><%=word%></td></tr><tr>
	<% else %>
		<td><%= word%></td>
		<% i=i+1 %>
	<%end%>
<%end%>
</tr></table>

<%= form_for :post, url: answers_path do |f| %>
  <p>
    <%= f.label :Adjectives %><br>
    <%= f.text_field :Adjectives %>
  </p>
 
  <p>
    <%= f.label :"Level of Acquentance" %>
    <%= f.select :LOA, options_for_select(%w[Low Medium High]) %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>