<div class="container">
  <h2>Share new opinion about <%= @survey.user.name.capitalize %></h2>
  
  <div class="row">
    <div class="col-md-9">
      <p>You landed in this page, because <%= @survey.user.name.capitalize %> asked you for your opinion about him/her. You can choose a
      set of words from the predefined list by clicking on them, or enter your words if you want by typing them and separating them
      with a comma. You should submit 6 to 7 words and remember that your response will be anonymous.</p>
    </div>
  </div>
      
  <div class="row">
    <div class="col-md-9">
      <%= form_for @response, url: responses_path, html: {class: "form-group", id: "new_response"} do |f| %>
      
        <div id="profile-description">
          <div class="text show-more-height">
            <div class="btn-group" data-toggle="buttons">
              <% i=0%>
              <% @adjectives.each do |adj| %>
                <% i=i+1%>
                  <label class="btn btn-info">
                    <%= check_box_tag "response[Adjectives][]", adj.id.to_i%>
                    <%= adj.word.capitalize %>
                  </label>
                <% if i==8 %>
                </div><br/><div class="btn-group" data-toggle="buttons">
                  <%i=0%>
                <%end%>
              <%end%>
            </div>
          </div>
          <div class="show-more">Show more adjectives...</div>
        </div>
      
          <p><%= text_field_tag "response[newAdjectives][]", nil, placeholder: "or add other words if you want! (separated by comma)", size: 55%><span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip", data-placement="right", title="Separate words with a comma! e.g. Crazy, Energetic, Brave"></span></p>
          <p>
            <%= f.label :loa, "You know " + @survey.user.name.titleize %>
            <%= f.select :loa, options_for_select([[nil, nil], ['a little bit', 3], ['somehow', 2], ['very good', 1]]),{default: nil} %>
          </p>
        </div>
      </div>
      <p>
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Submitting a response</button>
      </p>
  
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <h1>Are you sure you want to submit the response?</h1>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Go back</button>
              <%= f.hidden_field :survey_id, value: @survey.id%>
              <%= f.hidden_field :survey_uuid, value: @survey.uuid%>
              <%= f.submit "Submit!", class: "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>