<div class="container">
  <h2>Share new opinion about <%= @survey.user.name.capitalize %></h2>
  
  <div class="row">
    <div class="col-md-9">
      <p>You landed in this page, because <%= @survey.user.name.capitalize %> asked you for your opinion about him/her. You can choose a
      set of words from the predefined list by clicking on them, or enter your words if you want by typing them and separating them
      with a comma. You should submit 6 to 7 words and remember that your response will be anonymous.</p>
    </div>
  </div>
      
  <div class="row">
    <div class="col-md-9">
      <%= form_for @response, url: responses_path, html: {class: "form-group", id: "new_response"} do |f| %>
      
        <div id="profile-description">
          <div class="text show-more-height">
            <div class="btn-group" data-toggle="buttons">
              <% @adjectives.each do |adj| %>
                <label class="btn btn-info">
                  <%= check_box_tag "response[Adjectives][]", adj.id.to_i%>
                  <%= adj.word.capitalize %>
                </label>
              <%end%>
            </div>
          </div>
          <div class="show-more">Show more adjectives...</div>
        </div>
      
          <p><%= text_field_tag "response[newAdjectives][]", nil, placeholder: "or add other words if you want! (separated by comma)", size: 55%><span class="text-info glyphicon glyphicon-question-sign", aria-hidden="true" data-toggle="tooltip", data-placement="right", title="Separate words with a comma! e.g. Crazy, Energetic, Brave"></span></p>
          <p>
            <%= f.label :loa, "You know " + @survey.user.name.titleize %>
            <%= f.select :loa, options_for_select([['a little bit', 3], ['somehow', 2], ['very good', 1]]),{default: nil}, required: 'required' %>
          </p>
        </div>
      </div>
      <p>
        <%= f.hidden_field :survey_id, value: @survey.id%>
        <%= f.hidden_field :survey_uuid, value: @survey.uuid%>
        <%= f.submit "Submit!", class: "btn btn-success" %>
      </p>
    <% end %>
</div>