<div class="container">
  <h2>Share opinion about yourself</h2>
  
  <div class="row">
    <div class="col-md-9">
      <blockquote>Before you send out a survey to your acquaintances, you need to first type a description for your survey. This will later on be used to identify what kind of survey it is. The description should be short (e.g. 'for friends', 'for colleagues' etc). Afterwards, you need to select adjectives that describe youself. You can do that by simply clicking on the words. Once you are done, click on 'Review Answer'.</blockquote>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-9">  
      <%= form_for @survey, url: surveys_path, html: {class: "form-group", id: "new_response"} do |u| %>
      
        <%= label_tag(:name, 'Survey name')%>
          <%= u.text_field :name, required: 'required' %>
        <% if !user_signed_in? %>
          
        <% end %>
         
        <p>Select any adjectives that you believe describe you...</p>
        
        <%= u.fields_for :respose do |f|%>
        
          <div id="profile-description">
            <div class="text show-more-height">
              <div class="btn-group" data-toggle="buttons">
                <% @adjectives.each do |adj| %>
                  <label class="btn btn-info">
                    <%= check_box_tag "response[Adjectives][]", adj.id%>
                    <%= adj.word.capitalize %>
                  </label>
                <%end%>
              </div>
            </div>
            <div class="show-more">Show more adjectives...</div>
          </div>

          <p>...and add new words by typing them below.</p>
          <p><%= text_field_tag "response[newAdjectives][]", nil, placeholder: "add as many words as you want! (separated by comma)", size: 55%><span class="text-info glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip", data-placement="right", title="Separate words with a comma! e.g. Crazy, Energetic, Brave"></span></p>
        <%end%>
        <% if user_signed_in? %>
          <p><%= u.submit "Submit!", class: "btn btn-success" %></p>
        <% else %>
        <!-- Button trigger modal -->
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
            Submit!
          </button>
        <% end %>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Please enter your name and e-mail address</h4>
              </div>
              <div class="modal-body">
              You are trying to create a survey without registering as a user. Please fill in your e-mail address, in order to send you the administration link of the survey. Please also fill in your name, which will appear on the survey:
              <% if !user_signed_in? %>
                <%= u.fields_for :non_user do |l|%>
                  <br/><%= label_tag(:email, 'E-mail address') %>
                  <%= l.text_field :email, required: 'required', type: 'email' %>
                  <br/><%= label_tag(:username, 'Your name') %>
                  <%= l.text_field :username, required: 'required' %>
                <% end %>
              <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Back</button>
                <%= u.submit "Submit!", class: "btn btn-success" %>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>