<div class="container">
  <h1><%= @survey.name %></h1>
  
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a data-target="#results" data-toggle="tab">Results</a></li>
    <li><a data-target="#administration" data-toggle="tab">Administration</a></li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active" id="results">
      <h3>Adjectives you have selected</h3>
      <% @survey.responses.find(:first, :conditions => "loa = 4").adjectives.each do |t| %>
        <%= t.word %>
      <%end%></p>
      <h3>Adjectives that appear in responses</h3>
      
      <p><% @words.each do |t| %>
          <%= t %>
      <%end%></p>
      
      <h3>Individual responses</h3>
      <p>
        <ol>
          <% @survey.responses.find(:all, :conditions => "loa != 4").each do |r|%>
            <li><%= link_to "Response", "/responses/#{r.uuid}" %></li>
          <%end%>
        </ol>
      </p>  
    </div>  
    
    <div class="tab-pane" id="administration">
      <h3>Invitation</h3>
      <p>Invite your friends to answer your survey, by sharing this link:<br/>
      <%= link_to new_survey_response_url, new_survey_response_url, data: { no_turbolink: true } %>
      </p>
      <p>You can also use this form to send an invitation. Just type in the addresses you want your survey to be sent</br>
      <%= form_tag({controller: "surveys", action: "send_survey_invitations"}, method: "post", class: "form-group") do %>
        <%= text_area_tag('invitations', nil, placeholder: "...add as many addresses as you want (seperated by comma)", class: "form-control", rows: '3') %>
        <%= hidden_field_tag(:survey_uuid, @survey.uuid)%>
        <div class="checkbox">
          <%= check_box_tag(:self) %>
          <%= label_tag(:self, "Add my e-mail address in carbon copy (:cc)") %>
        </div>  
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Preview
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Get to know yourself with the KnowThySelf application </h4>
              </div>
              <div class="modal-body">
                <%= render 'invitation_mailer/invitation' %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Abort</button>
                <%= submit_tag ("Invite!"), class: "btn btn-success"%>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </p>
    <hr>
    <h3>Social media</h3>
      <p>You enjoyed using Know ThySelf and leadning about yourself? Then share it with your friends on facebook 
<a href="#" onClick="MyWindow=window.open('http://www.facebook.com/sharer.php?u=http://knowthyself.herokuapp.com','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=600,height=300'); return false;"><img src="/facebook500.png" height="30"></a> or your followers on twitter
<a href="#" onClick="MyWindow=window.open('http://twitter.com/share?text=Get%20to%20know%20better%20yourself&url=http://knowthyself.herokuapp.com','MyWindow','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,width=600,height=300'); return false;"><img src="/twitter.png" height="30"></a>

      <hr>
    <h3>Delete this survey</h3>
      <i>Just keep in mind that deleting a survey is non-reversible</i></br>
      <%= link_to 'Delete!', surveys_path + "/" + @survey.uuid.to_s, method: :delete, data: { confirm: 'Are you sure you want to delete this survey? This action is not reversible' }, class: "btn btn-danger" %>
    </div>
  </div>
</div>
