<div class="container">
  <%= @survey.name %>
  
  <p> Words you have selected:</p>
  <% @survey.responses.find(:first, :conditions => "loa = 4").adjectives.each do |t| %>
    <%= t.word %>
  <%end%>
  <br/><br/>
  <h2>Administration</h2>
  <p>Invite your friends to answer your survey, by sharing this link:<br/>
  <%= link_to "#{request.base_url}#{new_survey_response_path}", new_survey_response_path%>
  </p>
  <p>Delete this survey</p>
  <%= link_to 'Delete!', surveys_path + "/" + @survey.uuid.to_s, method: :delete, data: { confirm: 'Are you sure you want to delete this survey? This action is not reversible' }, class: "btn btn-danger" %>
  
  <h2>Sum of adjectives from responses</h2>
  <% @words.each do |t| %>
      <%= t %>
  <%end%>
  
  <h2>Individual responses</h2>
    <ol>
      <% @survey.responses.find(:all, :conditions => "loa != 4").each do |r|%>
        <li><%= link_to "Response", "/responses/#{r.uuid}" %></li>
      <%end%>
    </ol>
  </p>
</div>
