<!DOCTYPE html>
<html>
<head>
  <title>Johari</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<ul class="nav nav-tabs">
  <li><%= link_to "Home", root_path%></li>
    
    <% if user_signed_in? %>
    <li>
      <%= link_to(surveys_path) do %>
      Surveys <span class="badge"><%= @survey_count%></span>
      <%end%>
        
    </li>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path%></li>  
  <% end%>
</ul>


  
  <% if admin_signed_in? %>
    <%= link_to "Admin sign out", destroy_admin_session_path, method: :delete %>
  <%end%>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
