<%= devise_error_messages! %>

<div class="container"><h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

  <div class="form-group"><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, class: 'form-control'%></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off", class: 'form-control' %></div>

  <div class="form-group"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, class: 'form-control' %></div>

  <div class="form-group"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password, class: 'form-control' %></div>
  
  <div class="form-group"><%= f.label :name %><i>(your name will appear in your surveys)</i><br />
  <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div><%= f.submit "Update", class: "btn btn-success" %> <%= link_to "Back", :back, class: "btn btn-primary" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? You can delete your account if you wish to, and all your surveys and responses will be deleted as well.</br>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
  Cancel my account!
</button>
  </p>

<div class="modal fade bs-example-modal-sm" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm you want to delete your account</h4>
      </div>
      <div class="modal-body">
        Please confirm you want to delete your account by typing:<br/>
        <b>I want to delete my account!</b><br>
        <input type="text" class="confirmation form-control"><br>
        Remember that all your surveys will be deleted and that this is not a reversible action!
      </div>
      <div class="modal-footer">
        <center>
        <%= button_to "Goodbye!", registration_path(resource_name), :method => :delete, class: "btn btn-danger cancel_account", disabled: true %>
        </center>
      </div>
    </div>
  </div>
</div>


</div>

<!-- Thanks to Raphael! https://gist.github.com/raphaelescoyez/8c24c50ebb3740a779a7 -->
<script type="text/javascript">
  $(document).ready(function() {
    $('.confirmation').keyup(function() {
      var confirmation = $('.confirmation').val();
        if (confirmation == 'I want to delete my account!') {
          $('.cancel_account').removeAttr('disabled');
        } 
        else {
          $('.cancel_account').attr('disabled','disabled');
        };
    });
  });
</script>